!!! 5
%html
  %head
    %title Citoyen en transition avec Ruby On Rails
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application"
    = tinymce_assets
    %script "/assets/tinymce.js"
    = javascript_importmap_tags
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      =link_to 'Citoyen en transition avec Ruby On Rails', root_path, class: 'navbar-brand'
      %button.navbar-toggler
        %span.navbar-toggler-icon
      %div.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          -if current_user
            %form.form-inline
              =link_to "Nouvel article", new_article_path, class: 'btn btn-success', data: {turbo: false}
              %span.bi-search
        %form.form-inline
          -if current_user
            =link_to current_user.email, current_user.email, class: 'nav-link disabled'
            =link_to 'Déconnexion', sign_out_path, data: {turbo_method: :delete}, class: 'btn btn-secondary'
          -else
            %div.form-group
              =link_to 'Connexion', sign_in_path, class: 'btn btn-primary mr-2'
            %div.form-group
              =link_to 'Inscription', new_user_path, class: 'btn btn-success'

    -flash.each do |key, value|
      %div{:class => "alert alert-#{key}"}
        =value

    %main.container.mt-5
      = yield
