!!! 5
%html
  %head
    %title Citoyen en transition avec Ruby On Rails
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %nav
      =link_to 'Citoyen en transition avec Ruby On Rails', root_path, class: 'navbar-brand'
      -if current_user
        %li
          =current_user.email
          =link_to 'Déconnexion', sign_out_path, data: {turbo_method: :delete}
      -else
        %li
          =link_to 'Connexion', sign_in_path
        %li
          =link_to 'Inscription', new_user_path

    %div.container
      -flash.each do |key, value|
        %div.alert.alert-(class=key)=value
      = yield
