!!! 5
%html
  %head
    %title Citoyen en transition avec Ruby On Rails
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %nav
      =link_to 'Citoyen en transition avec Ruby On Rails', root_path, class: 'navbar-brand'

    %div.container
      -flash.each do |key, value|
        %div.alert.alert-(class=key)=value
      = yield
